* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  position: absolute;
  width: 550px;
  height: 55px;
  left: 0px;
  top: 0px;
  background: #f55a5a;
}

.logo {
  width: 24px;
  height: 24px;
  left: 213px;
  top: 16px;
  background: #ffffff;
  border-radius: 10px;
}

.nav-title {
  width: 109px;
  height: 16px;
  left: 244px;
  top: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
}

.card-container {
  margin-top: 100px;
}
